.imgPortada{
	width: 50%;
}

.flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imagen{
	width: 50%;
}

body{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

@media (max-width:500px){
	.code{
		width: 10%;
		margin-left: 2%;
	}
	
	.menu{
		width: 10%;
		margin-left: 30%;
	}
	
	.flex{
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		width: 95vw;
	}

	.flex1{
		display: flex;
		flex-direction: column;
	}

	.x{
		width: 5vw;
	}
	.avatar{
		width: 30%;
	}

	.avatar1{
		width: 50%;
	}

	.info{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100vw;
	}

	.png{
		width: 20vw;
		display: block;
		margin: auto;
		margin-top: 2rem;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.one{
		background-color: #003785;
		width: 50vw;
		height: 20vh;
	}

	.two{
		background-color: #1465bb;
		width: 50vw;
		height: 20vh;
	}

	.three{
		background-color: #2196f3;
		width: 50vw;
		height: 20vh;
	}

	.four{
		background-color: #81c9fa;
		width: 50vw;
		height: 20vh;
	}

	.Modal{
		color: rgb(0, 0, 0);
		height: 100%;
	}

	.h1{
		color: black;
	}

	.a{
		text-decoration: none;
		color: black;
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 20%;
		margin-top: 20%;
	}

	.flex-column{
		display: flex;
	}

	.footer{
		background-color: black;
		color: white;
		height: 6vh;
	}
}