/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color de la barra */
  border-radius: 10px; /* radio de la esquina */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color de la barra al pasar el cursor */
}
@media(max-width:768px){
	.body{
		background-color: #1E1E1E;
		position: absolute;
		width: 100%;
		top: 0;
		overflow-x: hidden;
		}


		.nav{
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background-color:rgba(0, 0, 0, .2);
			border-radius: 2rem;
			margin-top: 1rem;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
			padding: .2rem;
		}
		
 
		.img-curso{
			width: 10vw;
		}

		.nav-text{
			font-size: 1.1rem;
		}
	
		.header-text{
			color: white;
			font-weight: 700;
			width: 45vw;
			text-align: start;
			line-height: 1.2;
		}
	
		.header-text-1{
			color: #556B2F;
			font-weight: 700;
		}
	
		.header-text-2{
			color: white;
			font-weight: 700;
			width: 30vw;
			text-align: start;
		}
	
		.width{
			width: 45vw;
		}
	
		.line-height{
			line-height: 3;
		}
	
		.btnVisitar{
			background-color: rgba(255, 255, 255, .4);
			color: white;
			font-size: 1.5rem;
			margin-top: 1.5rem;
			border: none;
			border-radius: .5rem;
			width: 30vw;
		}
	
		.png-header{
			width: 7vw;
			border-radius: .4rem;
		}
	
		.png{
			width: 10vw !important;
		}
	
		.png1{
			width: 5vw !important;
		}
	
		.png2{
			width: 8vw;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 1rem;
		}
	
	
		.png-header1{
			width: 5vw;
			margin-left: 1rem;
			margin-top: .3rem;
		}
	
		.text-shadow{
			text-shadow: 2px 2px 4px rgba(85, 107, 47, .4);
		}
	
		.flex2{
			display: flex;
			flex-direction: row;
			margin-top: 1.5rem;
		}

		.flex3{
			display: flex;
			flex-direction: column;
		}
	
		.header-png{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 30vw;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	
		.btn-header{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border:7px solid #556B2F;
			border-radius: 1rem;
			display: flex;
			font-size: 1.4rem;
			font-weight: 700;
			padding: .4rem;
		}
	
		.input{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border-radius: .4rem;
			width: 45vw;
		}
	
		.text{
			width: 30vw;
			text-align: start;
		}
	
		.cotizaciones{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	
		.hard{
			font-size: 3rem;
		}
	
		.hard1{
			font-size: 2rem;
			color: rgba(255, 255, 255, .3) !important;
		}
	
		.codigoPng{
			width: 40vw;
			margin-top: auto;
		}
	
	
		.blanco{
			color: white;
			font-weight: 700;
		}

		.blanco:hover{
			color: white;
			font-weight: 700;
		}
	
		.footer{
			border-bottom: 4px solid #556B2F;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
		}
	
		.blanco1{
			color: rgba(255, 255, 255, .3);
			font-weight: 700;
			font-size: 1rem;
			text-decoration: none;
		}

		.blanco2{
			color: rgba(255, 255, 255, .3);
			font-weight: 700;
			font-size: 1rem;
			text-decoration: none;
		}

		.blanco2:hover{
			color: white;
		}
	
		.olivo{
			color: #556B2F;
			font-weight: 700;
		}
	
		.olivo1{
			color: rgba(85, 107, 47, .3);
			font-weight: 700;
			font-size: 1rem;
		}
	
		.btn-header1{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border:7px solid #556B2F;
			border-radius: 1rem;
			display: flex;
			font-size: 1.4rem;
			font-weight: 700;
			padding: .4rem;
			width: 30vw;
			justify-content: center;
		}
	
		.soft{
			color: white;
			background-color: rgba(85, 107, 47, .4);
			margin-left: .5rem;
			border-radius: .4rem;
			font-size: 1rem;
			padding: .3rem;
		}
	
		.margint{
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
		}
	
		.header{
			display: flex;
			flex-direction: column;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
			background-color: rgba(0, 0, 0, .2);
			border-radius: 2rem;
			margin-top: 1rem;
			padding: 1rem;
		}
	
		.header2{
			display: flex;
			flex-direction: row;
			width: 90vw;
			margin-right: auto;
			margin-left: auto;
			border-radius: 2rem;
			margin-top: 1rem;
		}
	
		.header1{
			display: flex;
		}
	
		.start{
			text-align: start;
		}
	
		.container{
			background-color: rgba(71, 71, 71, 1);
			width: 20vw !important;
			padding: 1rem;
			border-radius: 1rem;
		}
	
		.space{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	
		.container1{
			background-color: rgba(0, 0, 0, .2);
			width: 90vw !important;
			margin-right: auto;
			margin-left: auto;
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
		}

		
	
		.container2{
			background-color: rgba(0, 0, 0, .2);
			width: 90vw ;
			margin-right: auto;
			margin-left: auto;
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
			display: flex;
			justify-content: flex-end;
		}
	
		.wrap{
			display: flex;
			flex-wrap: wrap;
		}
		.wrap1{
			display: flex;
			flex-wrap: wrap;
			width: 95vw;
		}
	
		.line{
			border-bottom: .3rem solid rgba(85, 107, 47, 1);
			margin-bottom: 1.5rem;
		}
	
		.marginb{
			margin-bottom: 1rem;
		}
	
		.marginr{
			margin-right: 1rem;
		}
	
		.row{
			display: flex !important;
			flex-direction: row !important;
		}
	
		.header2{
			display: flex;
			margin-top: 1rem;
		}
		.scroll{
			height: 20vh;
			overflow: scroll;
			overflow-x: hidden;
			margin-left: auto;
		}
	
		.fontSize1{
			font-size: 1rem;
			margin-top: auto;
			margin-bottom: auto;
		}
	
		.flex{
			display: flex;
			flex-direction: row-reverse;
		}
	
		.flex1{
			display: flex;
			justify-content: space-between;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
		}
	
	 .href{
		text-decoration: none;
	 }
	
		.scroll1{
			height: 50vh;
			overflow: scroll;
			overflow-x: hidden;
		}
		
		.scroll2{
			height: 60vh;
			overflow: scroll;
			overflow-x: hidden;
		}

		.scroll3{
			height: 100vh;
			overflow: scroll;
			overflow-x: hidden;
		}
	
		.guiño{
			width: 45vw;
		}
	
}

@media(min-width:769px){
	.body{
		background-color: #1E1E1E;
		position: absolute;
		width: 100%;
		top: 0;
		overflow-x: hidden;	
	}


	
		.nav{
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background-color:rgba(0, 0, 0, .2);
			border-radius: 2rem;
			margin-top: 1rem;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
			padding: .2rem;
		}
	
	
	
		.nav-text{
			font-size: 1.1rem;
		}
	
		.header-text{
			color: white;
			font-weight: 700;
			width: 45vw;
			text-align: start;
			line-height: 1.2;
		}
	
		.header-text-1{
			color: #556B2F;
			font-weight: 700;
		}
	
		.header-text-2{
			color: white;
			font-weight: 700;
			width: 30vw;
			text-align: start;
		}
	
		.width{
			width: 45vw;
		}

		.width1{
			width: 45vw;
			margin-left: -1rem;
		}
	
		.line-height{
			line-height: 3;
		}
	
		.btnVisitar{
			background-color: rgba(255, 255, 255, .4);
			color: white;
			font-size: 1.5rem;
			margin-top: 1.5rem;
			border: none;
			border-radius: .5rem;
			width: 30vw;
		}
		
	
		.png-header{
			width: 5vw;
		}
	
		.png{
			width: 5vw !important;
		}
	
		.png1{
			width: 5vw !important;
		}
	
		.png2{
			width: 8vw;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 1rem;
		}
	
	
		.png-header1{
			width: 5vw;
			margin-left: 1rem;
			margin-top: .3rem;
		}
	
		.text-shadow{
			text-shadow: 2px 2px 4px rgba(85, 107, 47, .4);
		}
	
		.flex2{
			display: flex;
			flex-direction: row;
			margin-top: 1.5rem;
		}
	
		.header-png{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 30vw;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	
		.btn-header{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border:7px solid #556B2F;
			border-radius: 1rem;
			display: flex;
			font-size: 1.4rem;
			font-weight: 700;
			padding: .4rem;
		}
	
		.input{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border-radius: .4rem;
			width: 25vw;
		}
	
		.text{
			width: 15vw;
			text-align: start;
		}
	
		.cotizaciones{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	
		.hard{
			font-size: 3rem;
		}
	
		.hard1{
			font-size: 2rem;
			color: rgba(255, 255, 255, .3) !important;
		}
	
		.codigoPng{
			width: 10vw;
			margin-top: auto;
		}
	
	
		.blanco{
			color: white;
			font-weight: 700;
		}
	
		.footer{
			border-bottom: 4px solid #556B2F;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
		}
	
		.blanco1{
			color: rgba(255, 255, 255, .3);
			font-weight: 700;
			font-size: 1rem;
			text-decoration: none;
		}

		.blanco2{
			color: rgba(255, 255, 255, .3);
			font-weight: 700;
			font-size: 1.5rem;
			text-decoration: none;
		}
	
		.olivo{
			color: #556B2F;
			font-weight: 700;
		}
	
		.olivo1{
			color: rgba(85, 107, 47, .3);
			font-weight: 700;
			font-size: 1rem;
		}
	
		.btn-header1{
			background-color: rgba(52, 52, 52, .8);
			color: white;
			border:7px solid #556B2F;
			border-radius: 1rem;
			display: flex;
			font-size: 2.5rem;
			font-weight: 700;
			padding: .4rem;
			width: 30vw;
			justify-content: center;
		}
	
		.soft{
			color: white;
			background-color: rgba(85, 107, 47, .4);
			margin-left: .5rem;
			border-radius: .4rem;
			font-size: 1rem;
			padding: .3rem;
		}
	
		.margint{
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
		}
	
		.header{
			display: flex;
			flex-direction: column;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
			background-color: rgba(0, 0, 0, .2);
			border-radius: 2rem;
			margin-top: 1rem;
			padding: 1rem;
		}

	
		.header2{
			display: flex;
			flex-direction: row;
			width: 90vw;
			margin-right: auto;
			margin-left: auto;
			border-radius: 2rem;
			margin-top: 1rem;
		}
	
		.header1{
			display: flex;
		}
	
		.start{
			text-align: start;
		}
	
		.container{
			background-color: rgba(71, 71, 71, 1);
			width: 20vw !important;
			padding: 1rem;
			border-radius: 1rem;
		}
	
		.space{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	
		.container1{
			background-color: rgba(0, 0, 0, .2);
			width: 45vw !important;
			margin-right: auto;
			margin-left: auto;
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
		}
	
		.container2{
			background-color: rgba(0, 0, 0, .2);
			width: 45vw ;
			margin-right: auto;
			margin-left: auto;
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
			display: flex;
			justify-content: flex-end;
		}

		.container3{
			background-color: rgba(0, 0, 0, .2);
			width: 45vw !important;
			margin-right: auto;
			margin-left: auto;
			padding: 1rem;
			border-radius: 1rem;
			margin-top: 1rem;
		}

		.wrap{
			display: flex;
			flex-wrap: wrap;
		}
		.wrap1{
			display: flex;
			flex-wrap: wrap;
			width: 95vw;
		}
	
		.line{
			border-bottom: .3rem solid rgba(85, 107, 47, 1);
			margin-bottom: 1.5rem;
		}
	
		.marginb{
			margin-bottom: 1rem;
		}
	
		.marginr{
			margin-right: 1rem;
		}
	
		.row{
			display: flex !important;
			flex-direction: row !important;
		}
	
		.header2{
			display: flex;
			margin-top: 1rem;
		}
		.scroll{
			height: 20vh;
			overflow: scroll;
			overflow-x: hidden;
			margin-left: auto;
		}
	
		.fontSize1{
			font-size: 1rem;
			margin-top: auto;
			margin-bottom: auto;
		}
	
		.flex{
			display: flex;
			flex-direction: row-reverse;
		}
	
		.flex1{
			display: flex;
			justify-content: space-between;
			width: 95vw;
			margin-right: auto;
			margin-left: auto;
		}
	
	 .href{
		text-decoration: none;
	 }
	
		.scroll1{
			height: 50vh;
			overflow: scroll;
			overflow-x: hidden;
		}
		
	
		.guiño{
			width: 20vw;
			margin-left: 10vw;
		}
	
}