.body{
	background-color: #1E1E1E;
	position: absolute;
	width: 100%;
	top: 0;
	overflow-x: hidden;
	}

	.nav{
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color:rgba(0, 0, 0, .4);
		border-radius: 2rem;
		margin-top: 1rem;
		width: 95vw;
		margin-right: auto;
		margin-left: auto;
		padding: .2rem;
	}

	.nav-text{
		font-size: 1.1rem;
	}

	.header-text{
		color: white;
		font-weight: 700;
		width: 45vw;
		text-align: start;
		line-height: 1.2;
	}

	.header-text-1{
		color: #556B2F;
		font-weight: 700;
	}

	.header-text-2{
		color: white;
		font-weight: 700;
		width: 30vw;
		text-align: start;
	}

	.width{
		width: 45vw;
	}

	.png-header{
		width: 5vw;
	}

	.png-header1{
		width: 5vw;
		margin-left: 1rem;
		margin-top: .3rem;
	}

	.text-shadow{
		text-shadow: 2px 2px 4px rgba(85, 107, 47, .4);
	}

	.header-png{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 30vw;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.btn-header{
		background-color: rgba(52, 52, 52, .8);
		color: white;
		border:7px solid #556B2F;
		border-radius: 1rem;
		display: flex;
		font-size: 1.4rem;
		font-weight: 700;
		padding: .4rem;
	}

	.header{
		display: flex;
		flex-direction: column;
		width: 95vw;
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(0, 0, 0, .2);
		border-radius: 2rem;
		margin-top: 1rem;
		padding: 1rem;
	}

	.header1{
		display: flex;
	}

	.scroll{
		height: 20vh;
		overflow: scroll;
		overflow-x: hidden;
	}

	.guiño{
		width: 50vw;
	}
